openapi: 3.0.1
info:
  title: SpinupWP REST API
  description: 'SpinupWP REST API documentation.'
  contact:
    email: sudo@spinupwp.com
  version: "1.0"
servers:
- url: https://api.spinupwp.app/v1
tags:
- name: Servers
  description: The servers API allows you to view servers.
- name: Sites
  description: The sites API allows you to create, view, and delete sites.
- name: Events
  description: The events API allows you to view events.
paths:
  /servers/{id}:
    get:
      tags:
        - Servers
      summary: Retrieve a server
      operationId: getServer
      responses:
        200:
          description: Successful
  /servers:
    get:
      tags:
        - Servers
      summary: List all servers
      operationId: getServers
      responses:
        200:
          description: Successful
  /sites/{id}:
    get:
      tags:
      - Sites
      summary: Retrieve a Site
      description: Returns a single site.
      parameters:
      - name: siteId
        in: path
        description: ID of site to return
        required: true
        schema:
          type: integer
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Site not found
          content: {}
    delete:
      tags:
      - Sites
      summary: Delete a Site
      operationId: deleteSite
      parameters:
      - name: siteId
        in: path
        description: Site ID to delete
        required: true
        schema:
          type: integer
      responses:
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Site not found
          content: {}
  /sites:
    post:
      tags:
      - Sites
      summary: Create a Site
      operationId: addSite
      requestBody:
        description: Site object that needs to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Site'
        required: true
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        422:
          description: Invalid input
          content: {}
    get:
      tags:
      - Sites
      summary: List all Sites
      description: List all single site.
      parameters:
      - name: server_id
        in: path
        description: Filter by Server ID
        schema:
          type: integer
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Site not found
          content: {}
components:
  schemas:
    Site:
      required:
      - server_id
      - domain
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        server_id:
          type: integer
          example: 1
        domain:
          type: string
          example: hellfish.media
    ApiResponse:
      type: object
      properties:
        event_id:
          type: integer
        data:
          type: array
  securitySchemes:
    api_token:
      type: http
      scheme: bearer

security:
  - api_token: []

