openapi: 3.0.1
info:
  title: SpinupWP
  description: 'SpinupWP REST API documentation.'
  contact:
    email: sudo@spinupwp.com
  version: 1.0.0
servers:
- url: https://api.spinupwp.app/v1
tags:
- name: Sites
  description: Manage sites.
paths:
  /sites:
    post:
      tags:
      - Sites
      summary: Create a Site
      operationId: addSite
      requestBody:
        description: Site object that needs to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Site'
        required: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        422:
          description: Invalid input
          content: {}
  /sites/{siteId}:
    get:
      tags:
      - Sites
      summary: Retrieve a Site
      description: Returns a single site.
      parameters:
      - name: siteId
        in: path
        description: ID of site to return
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Site not found
          content: {}
    delete:
      tags:
      - Sites
      summary: Deletes a Site
      operationId: deleteSite
      parameters:
      - name: siteId
        in: path
        description: Site ID to delete
        required: true
        schema:
          type: integer
          format: int64
      responses:
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Site not found
          content: {}

components:
  schemas:
    Site:
      required:
      - server_id
      - domain
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        server_id:
          type: integer
          format: int64
          example: 1
        domain:
          type: string
          example: hellfish.media
    ApiResponse:
      type: object
      properties:
        event_id:
          type: integer
          format: int32
        data:
          type: array
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
